.footer {
	background-color: #2963a3;
	padding-top: 40px;
	padding-bottom: 17px;
}

.footer * {
	color: #fff;
}

.footer__content {
	display: grid;
	gap: 24px;
}

.footer__nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	list-style-type: none;
	gap: 16px;
	padding: 0;
	margin: 0;
}

.footer__nav-item {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	cursor: pointer;
}

.footer__nav-item a {
	text-decoration: none;
	color: inherit;
}

.footer__contact-text {
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
}

.footer__info {
	display: grid;
	grid-template-columns: 486px auto;
	gap: 24px;
}

.footer__contact {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer__contact-mail,
.footer__contact-text {
	position: relative;
	max-width: 384px;
}

.footer__contact input {
	height: 48px;
	width: 100%;
	background: #ffffff;
	border: 1px solid rgba(157, 157, 157, 0.2);
	border-radius: 4px;
	padding: 16px 14px 16px 16px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	width: 100%;
}

.footer__contact input::placeholder {
	color: #9d9d9d;
}

.footer__contact input:focus,
.footer__contact input:focus-visible {
	outline: none;
}

.footer__contact-send-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 64px;
	height: 48px;
	background-color: #16c8bb;
	border-radius: 4px;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
}

.footer__contact-send-btn img {
	transition: 0.3s;
}

.footer__contact-send-btn:hover img {
	transform: scale(1.15);
}

.footer__contact-law {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.25px;
	opacity: 0.7;
}

.footer__social-about {
	display: flex;
	gap: 8px;
}

.footer__social-icons {
	margin-top: 40px;
	display: flex;
	gap: 16px;
}
.footer__social-icons > * {
	cursor: pointer;
}

.footer hr {
	border: none;
	border-bottom: 1px solid #9d9d9d;
	margin-top: 24px;
	margin-bottom: 16px;
	opacity: 0.3;
}

.footer__copyright {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	opacity: 0.7;
	display: flex;
	column-gap: 48px;
	row-gap: 16px;
	flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
	.footer__content {
		grid-template-columns: 1fr;
		gap: 40px;
	}

	.footer__nav {
		grid-template-columns: repeat(auto-fit, minmax(125px, auto));
	}

	.footer__info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (max-width: 767px) {
	.footer__info {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (min-width: 1200px) {
	.footer__content {
		grid-template-columns: repeat(12, 1fr);
		gap: 24px;
	}

	.footer__nav {
		grid-column: span 4;
	}

	.footer__info {
		grid-column: span 4;
	}
}
