.header {
	display: flex;
	gap: 16px;
}

.header__nav-wrap {
	width: 100vw;
	border-bottom: 1px solid #ebebeb;
}

.header__nav {
	display: grid;
	grid-template-columns: 90px 1fr auto;
	grid-auto-columns: 230px;
	padding: 11px 19px 11px 16px;
	align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.header__nav {
		grid-template-columns: 83px 1fr auto;
	}
}

@media screen and (max-width: 1023px) {
	.header__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__logo {
	background-image: url(/assets/icons/header/logo.svg);
	background-repeat: no-repeat;
	width: 48px;
	height: 34px;
	position: relative;
}

.header__logo a {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.header__nav-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 30px;
	margin-top: 56px;
	flex-wrap: wrap;
}

.header__nav-item {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}
@media screen and (max-width: 1023px) {
	.header__nav-item:hover {
		color: #ebebeb;
	}
}

@media screen and (min-width: 1024px) {
	.header__nav-item:hover {
		color: #2963a3;
	}
}

.header__toggle-container {
	display: none;
	height: 30px;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header__toggle {
	display: none;
}

.header__toggle-button,
.header__toggle-button::before,
.header__toggle-button::after {
	display: block;
	background-color: #03b2a5;
	position: absolute;
	height: 2px;
	width: 20px;
	transition: 0.4s;
	border-radius: 2px;
}

.header__toggle-button::before {
	content: "";
	margin-top: -8px;
}

.header__toggle-button::after {
	content: "";
	margin-top: 8px;
}

.header__toggle:checked
	+ .header__toggle-container
	.header__toggle-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

.header__toggle:checked + .header__toggle-container .header__toggle-button {
	background: rgba(255, 255, 255, 0);
}

.header__toggle:checked
	+ .header__toggle-container
	.header__toggle-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

.header__action-button {
	display: none;
}

@media screen and (min-width: 1024px) {
	.header__action-button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 14px 20px;
		background: #e3f5f5;
		border-radius: 4px;
		color: #03b2a5;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		color: #03b2a5;
		border: none;
		cursor: pointer;
		transition: color 0.4s, background-color 0.4s;
	}

	.header__action-button:hover {
		color: #fff;
		background-color: rgba(87, 143, 201, 0.8);
		transform: scale(1.02);
	}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.header__nav-list {
		gap: 16px;
	}
}

@media screen and (min-width: 1024px) {
	.header__nav-list {
		margin-top: 0;
	}
}

@media screen and (max-width: 1023px) {
	.header__toggle-container {
		display: flex;
	}

	.header__nav-list {
		position: absolute;
		top: 0;
		margin-top: 57px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		gap: 0;
		z-index: 1;
	}

	.header__toggle ~ .header__nav-list li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		opacity: 0;
		transition: height 0.2s;
		border-bottom: 1px solid rgba(239, 245, 251, 0.49);
		padding-left: 1rem;
		justify-content: flex-start;
	}

	.header__toggle:checked ~ .header__nav-list li {
		height: 2.5em;
		padding: 0.5em;
		opacity: 1;
	}

	.header__nav-list > li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: white;
		background-color: #2963a3;
	}
}
