@media screen and (min-width: 414px) and (max-width: 767px) {
	body > *:not(.header) {
		padding-left: 20px;
		padding-right: 20px;
	}

	.header__nav {
		padding: 19px 35px 19px 24px;
	}

	.header__nav-list {
		margin-top: 72px;
	}
}
